<div class="home-container">
  <style>
    .home-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .home-container h2 {
      margin-bottom: 40px;
      text-align: center;
    }
    .home-container form {
      background-color: aquamarine;
      padding: 40px 20px 20px 20px;
      border-radius: 15px;
      font-weight: bold;
    }
    .home-container form input {
      padding: 10px;
      margin: 10px 0;
      border-radius: 10px;
      border: 1px solid black;
      width: 100%;
    }
    .home-container form button {
      padding: 10px;
      margin: 10px 0;
      border-radius: 10px;
      border: 1px solid black;
      background-color: rgb(93, 22, 180);
      color: white;
      cursor: pointer;
    }
  </style>

  <h1>Home Page</h1>
  <p>Welcome to Mybrary</p>
  <h2>Search Authors</h2>
  <form action="/" method="GET">
    <input
      type="text"
      name="search"
      placeholder="Search Authors"
      value="<%=search || '' %>"
    />
    <button type="submit">Search</button>
  </form>
  <br />
  <% if (search && search.length > 0) { %> <% if (authors.length > 0) { %>
  <h3>Search Results</h3>

  <div class="authors-list">
    <% authors.forEach(author => { %>
    <div class="author-card">
      <h3><%= author.name %></h3>
      <p>Rating: <%= author.rating %></p>
      <p>Bio: <%= author.bio %></p>
      <p>Nationality: <%= author.nationality %></p>
      <p>
        Date of Birth: <%= author.dob? new
        Date(author.dob).toISOString().split('T')[0] : "" %>
      </p>
      <p>Email: <%= author.email %></p>
      <img src="<%= author.photo %>" alt="Author: Firstname Lastname" />
    </div>
    <% }) %>
  </div>

  <% } else { %>
  <p>No authors found for "<%= search %>"</p>
  <% } %> <% } %>

  <a href="/authors/new">Add New Author</a>
</div>
